.movie-card {
    position: relative;
    width: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*자식 요소를 위에서 아래로 정렬*/
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.movie-card:hover .overlay {
    opacity: 1;
}

.overlay .movie-name {
    font-size: 18px;
    font-weight: bold;}

.overlay .movie-overview {
    font-size: 12px;
    line-height: 1.4;
    overflow: hidden; /* 넘치는 콘텐츠 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
